.button-section {
  display: flex;
  margin-top: 20px;
  justify-self: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  margin-bottom: 10px; 
}

.centered-h2 {
  text-align: center;
}